[Unit]
Description=Dillinger: documentation tool for creativity
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="PATH=__PATH_WITH_NODEJS__"
Environment="NODE_ENV=production"
Environment="BIND_ADDRESS=127.0.0.1"
Environment="PORT=__PORT__"
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__NODEJS_DIR__/node app
Restart=on-failure

[Install]
WantedBy=multi-user.target